@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--chakra-colors-gray-900);
  background: var(--chakra-colors-white);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  background-color: var(--chakra-colors-gray-900);
  color: var(--chakra-colors-gray-100);
}

html.light {
  background-color: var(--chakra-colors-white);
  color: var(--chakra-colors-gray-900);
}

.ql-editor::before {
  color: var(--chakra-colors-gray-400) !important; 
  font-style: italic;
}

.ql-container.ql-snow:focus-within {
  border-color: var(--chakra-colors-blue-500) !important; 
  box-shadow: 0 0 0 1px var(--chakra-colors-blue-500) !important;
}
